.toolbar-background {
    background-color: rgb(207, 167, 5) !important;
  }

  $primary_shade: red !global;

  ion-content{
    background-color: gray;
  }

  .footerColor{
    background-color: gray;
    color: gray;
  }
